# -------------------------
# Python
# -------------------------
.venv/
__pycache__/
*.pyc
*.pyo

# -------------------------
# Environment
# -------------------------
.env
backend/.env

# -------------------------
# Database
# -------------------------
*.db

# -------------------------
# Uploaded Files
# -------------------------
backend/uploads/
backend/extracted_text/

# -------------------------
# Node
# -------------------------
node_modules/
frontend/node_modules/

# -------------------------
# Build
# -------------------------
dist/
build/
frontend/dist/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db