# Python
__pycache__/
*.pyc
.venv/

backend/.env
.env
__pycache__/
*.pyc

# VS Code
.vscode/

# Node
node_modules/

# Environment
.env

# Uploaded Files
backend/uploads/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db
